<div style="padding-bottom: 700px">
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="my-card-body cleartfix">
            <p class="card-title font-large-1">Add Staff</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="overflow-hidden">
        <div class="card-content">
          <div class="my-card-body cleartfix">
            <div class="media align-items-stretch" style="justify-content:flex-end">
              <div class="dashed-border" style="width:auto" (click)="goBack()">
                <div class="media-body" style="justify-content:flex-end">
                  <h2 style="cursor:pointer; margin-bottom: 0rem !important;">Close this Profile</h2>
                </div>
                <div class="align-self-center">
                  <i class="la la-close font-large-1"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>