<div style="padding-bottom: 100px">
  <div class="row">
    <div class="col-md-12">
      <div class="card" [ngClass]="_toggleExpand ? 'card-fullscreen' : ''">
        <div class="card-header">
          <p class="card-title font-large-1">Add Vehicle</p>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a (click)="collapse()"><i  class="" [ngClass]=" _toggleCollapseIcon ? 'ft-plus' : 'ft-minus'"></i></a></li>
              <li><a (click)="reload()"><i  class="ft-rotate-cw"></i></a></li>
              <li><a (click)="expand()"><i  class="" [ngClass]=" _toggleExpandIcon ? 'ft-maximize' : 'ft-minimize'"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="card-content collpase " [ngClass]="_toggleCollapse ? 'show' : ''">
          <div class="card-body">
            <form class="form form-horizontal striped-rows form-bordered" [formGroup]="vehicleForm" (submit)="submit()">
              <div class="form-body">
                <h4 class="form-section"></h4>
                <!-- Loading and Internet Error -->
                <caption>
                  <div class="move-to-center">
                    <!-- ALTERNATIVE LOADING ICON -->
                    <div *ngIf="!_stopLoading" class="loading">
                      <div class="blockUI" style="display:none"></div>
                      <div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(255, 255, 255); opacity: 0.513792; cursor: default; position: absolute;"></div>
                      <div class="blockUI blockMsg blockElement" style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width:100%; top: 50%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                        <div class="ft-refresh-cw icon-spin font-medium-2"></div>
                      </div>
                    </div>
                  </div>
                </caption>
                <!--/End Loading and Internet Error -->

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput7">Vehicle Name</label>
                  <div class="col-md-6">
                    <input type="text" formControlName="vehicleName" id="vehicleName" class="form-control" placeholder="Vehicle Name" name="vehicleName">
                  </div>
                  <!-- Validation Message -->
                  <div *ngIf="(vehicleForm.controls['vehicleName']?.errors?.required && (vehicleForm.controls['vehicleName']?.touched || vehicleForm.controls['vehicleName']?.dirty))"
                    class="errorRed invalid animated wobble">
                    Required.
                  </div>
                  <div *ngIf="(vehicleForm.controls['vehicleName']?.errors?.minlength)" class="errorRed invalid animated wobble">
                    Minimum Length is 3.
                  </div>
                  <!--/End Validation Message -->
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput7">Vehicle Make</label>
                  <div class="col-md-6">
                    <input type="text" formControlName="vehicleMake" id="vehicleMake" class="form-control" placeholder="Vehicle Make" name="vehicleMake">
                  </div>
                  <!-- Validation Message -->
                  <div *ngIf="(vehicleForm.controls['vehicleMake']?.errors?.required && (vehicleForm.controls['vehicleMake']?.touched || vehicleForm.controls['vehicleMake']?.dirty))"
                    class="errorRed invalid animated wobble">
                    Required.
                  </div>
                  <div *ngIf="(vehicleForm.controls['vehicleMake']?.errors?.minlength)" class="errorRed invalid animated wobble">
                    Minimum Length is 3.
                  </div>
                  <!--/End Validation Message -->
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput7">Vehicle Model</label>
                  <div class="col-md-6">
                    <input type="text" formControlName="vehicleModel" id="vehicleModel" class="form-control" placeholder="Vehicle Model" name="vehicleModel">
                  </div>
                  <!-- Validation Message -->
                  <div *ngIf="(vehicleForm.controls['vehicleModel']?.errors?.required && (vehicleForm.controls['vehicleModel']?.touched || vehicleForm.controls['vehicleModel']?.dirty))"
                    class="errorRed invalid animated wobble">
                    Required.
                  </div>
                  <div *ngIf="(vehicleForm.controls['vehicleModel']?.errors?.minlength)" class="errorRed invalid animated wobble">
                    Minimum Length is 3.
                  </div>
                  <!--/End Validation Message -->
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput7">Vehicle Plate Number</label>
                  <div class="col-md-6">
                    <input type="text" formControlName="vehiclePlateNumber" id="vehiclePlateNumber" class="form-control" placeholder="Vehicle Plate Number"
                      name="vehiclePlateNumber">
                  </div>
                  <!-- Validation Message -->
                  <div *ngIf="(vehicleForm.controls['vehiclePlateNumber']?.errors?.required && (vehicleForm.controls['vehiclePlateNumber']?.touched || vehicleForm.controls['vehiclePlateNumber']?.dirty))"
                    class="errorRed invalid animated wobble">
                    Required.
                  </div>
                  <div *ngIf="(vehicleForm.controls['vehiclePlateNumber']?.errors?.minlength)" class="errorRed invalid animated wobble">
                    Minimum Length is 3.
                  </div>
                  <!--/End Validation Message -->
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput7">Vehicle Year</label>
                  <div class="col-md-6">
                    <input type="text" formControlName="vehicleYear" id="vehicleYear" class="form-control" placeholder="Vehicle Year" name="vehicleYear">
                  </div>
                  <!-- Validation Message -->
                  <div *ngIf="(vehicleForm.controls['vehicleYear']?.errors?.required && (vehicleForm.controls['vehicleYear']?.touched || vehicleForm.controls['vehicleYear']?.dirty))"
                    class="errorRed invalid animated wobble">
                    Required.
                  </div>
                  <div *ngIf="(vehicleForm.controls['vehicleYear']?.errors?.minlength)" class="errorRed invalid animated wobble">
                    Minimum Length is 3.
                  </div>
                  <!--/End Validation Message -->
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput7">Vehicle Color</label>
                  <div class="col-md-6">
                    <input type="text" formControlName="vehicleColor" id="vehicleColor" class="form-control" placeholder="Vehicle Color" name="vehicleColor">
                  </div>
                  <!-- Validation Message -->
                  <div *ngIf="(vehicleForm.controls['vehicleColor']?.errors?.required && (vehicleForm.controls['vehicleColor']?.touched || vehicleForm.controls['vehicleColor']?.dirty))"
                    class="errorRed invalid animated wobble">
                    Required.
                  </div>
                  <div *ngIf="(vehicleForm.controls['vehicleColor']?.errors?.minlength)" class="errorRed invalid animated wobble">
                    Minimum Length is 3.
                  </div>
                  <!--/End Validation Message -->
                </div>


              </div>
              <!-- form buttons -->
              <div class="form-actions">
                <button type="button" class="btn btn-success mr-1" (click)="goBack()">
                          <i class="ft-x"></i> Close
                          </button>
                <button type="submit" [disabled]="vehicleForm.invalid" class="btn btn-primary">
                              <i class="la la-check-square-o"></i> Save Vehicle
                          </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <toaster-container [toasterconfig]="config1"></toaster-container>
</div>