<div style="padding-bottom: 250px">
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="my-card-body cleartfix">
            <div class="media align-items-stretch" *ngIf="patrolMemberData">
              <div class="align-self-center">
                <span class="card-profile-image img"><img class="image" src="data:image/png;base64,{{patrolMemberData.image}}" onerror="this.src='assets/icons/avatar-large.jpg'" alt="avatar"></span>
              </div>
              <div class="media-body">
                <h4>{{patrolMemberData.firstName}} {{patrolMemberData.surname}}</h4>
                <span>{{patrolMemberData.position}}</span>
              </div>
              <div class="align-self-center">
                <h1>{{patrolMemberData.staffId}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="overflow-hidden">
        <div class="card-content">
          <div class="my-card-body cleartfix">
            <div class="media align-items-stretch" style="justify-content:flex-end">
              <div class="dashed-border" style="width:auto" (click)="goBack()">
                <div class="media-body" style="justify-content:flex-end">
                  <h2 style="cursor:pointer; margin-bottom: 0rem !important;">Close this Profile</h2>
                </div>
                <div class="align-self-center">
                  <i class="la la-close font-large-1"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" [ngClass]="_toggleExpand ? 'card-fullscreen' : ''">
        <div class="card-header">
          <p class="card-title font-large-1">Patrol Member Details</p>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a (click)="collapse()"><i  class="" [ngClass]=" _toggleCollapseIcon ? 'ft-plus' : 'ft-minus'"></i></a></li>
              <li><a (click)="reload()"><i  class="ft-rotate-cw"></i></a></li>
              <li><a (click)="expand()"><i  class="" [ngClass]=" _toggleExpandIcon ? 'ft-maximize' : 'ft-minimize'"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse" [ngClass]="_toggleCollapse ? 'show' : ''">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <!-- Loading and Internet Error -->
                <caption>
                  <div class="move-to-center">
                    <!-- ALTERNATIVE LOADING ICON -->
                    <div *ngIf="!patrolMemberData && !_stopLoading" class="loading">
                      <div class="blockUI" style="display:none"></div>
                      <div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(255, 255, 255); opacity: 0.513792; cursor: default; position: absolute;"></div>
                      <div class="blockUI blockMsg blockElement" style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width:100%; top: 50%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                        <div class="ft-refresh-cw icon-spin font-medium-2"></div>
                      </div>
                    </div>
                  </div>
                </caption>
                <!--/End Loading and Internet Error -->
                <tbody *ngIf="patrolMemberData">
                  <tr>
                    <td class="mtn-yellow-bg">First Name</td>
                    <td>{{patrolMemberData.firstName}}</td>
                    <td class="mtn-yellow-bg">Last Name</td>
                    <td>{{patrolMemberData.surname}}</td>
                  </tr>
                  <tr>
                    <td class="mtn-yellow-bg">Other Names</td>
                    <td>{{patrolMemberData.otherName}}</td>
                    <td class="mtn-yellow-bg">Position</td>
                    <td>{{patrolMemberData.position}}</td>
                  </tr>
                  <tr>
                    <td class="mtn-yellow-bg">Designation</td>
                    <td>{{patrolMemberData.designation}}</td>
                    <td class="mtn-yellow-bg">Email</td>
                    <td>{{patrolMemberData.email}}</td>
                  </tr>

                  <tr>
                    <td class="mtn-yellow-bg">Phone Line 1</td>
                    <td>{{patrolMemberData.number}}</td>
                    <td class="mtn-yellow-bg">Employment Type**</td>
                    <td>Full Time</td>
                  </tr>

                  <tr>
                    <td class="mtn-yellow-bg">Staff ID</td>
                    <td>{{patrolMemberData.staffId}}</td>
                    <td class="mtn-yellow-bg">Gender</td>
                    <td>{{patrolMemberData.gender}}</td>
                  </tr>

                  <tr>
                    <td class="mtn-yellow-bg">Home Address</td>
                    <td>{{patrolMemberData.homeAddress}}</td>
                    <td class="mtn-yellow-bg">Office Branch</td>
                    <td>{{patrolMemberData.branch}}</td>
                  </tr>

                  <tr>
                    <td class="mtn-yellow-bg">Created By</td>
                    <td>{{patrolMemberData.created_by}}</td>
                    <td class="mtn-yellow-bg">Created At</td>
                    <td>{{patrolMemberData.created_at}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>